<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/layout/index-layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
      <section>
        <h1 class="blind">베너</h1>
        <div id="banner">
          <img src="/images/banners/banner1.png" alt="banner" />
        </div>
      </section>
      <section>
        <h1>상품등록</h1>
        <form id="saveForm">
          <input type="text" name="name" placeholder="상품 이름을 입력하세요.">
          <input type="text" name="price" placeholder="상품 가격을 입력하세요.">
          <input type="text" name="seller" placeholder="판매자 이름을 입력하세요.">
          <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name="uploadFiles" onChange="uploadImage()">
          </div>
          <input type="text" name="imageUrl" placeholder="상품 이미지 주소를 입력하세요.">
          <input type="button" name="저장" value="저장" onClick="saveProduct()">

        </form>
      </section>
    </th:block>
  </th:block>
</html>
